<phpunit bootstrap="vendor/autoload.php" colors="true" processIsolation="false" testdox="true" convertWarningsToExceptions="false">
    <testsuites>
        <testsuite name="mysql">
            <file>tests/ConnectionTest.php</file>
            <file>tests/CreateTableTest.php</file>
            <file>tests/QueryTest.php</file>
            <file>tests/CRUDTest.php</file>
            <file>tests/QueryBuilderTest.php</file>
            <file>tests/DeleteTableTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
